@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*>* {
    font-family: "Nunito", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/* .ant-btn-default {
    display: none;
}

.ant-btn-primary {
    display: none;
} */

table-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}

* {
    box-sizing: border-box;
}

.ReactModal__Content.ReactModal__Content--after-open {
    height: max-content;
    width: max-content;
    margin: auto;
    padding: 0 !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

.ReactModal__Overlay {
    opacity: 0 !important;
    transition: all 500ms !important;
    background-color: rgb(0 0 0 / 35%) !important;
    z-index: 100;
}

.form-container {
    -webkit-box-shadow: 3px 3px 31px 1px rgba(121, 134, 138, 1);
    -moz-box-shadow: 3px 3px 31px 1px rgba(121, 134, 138, 1);
    box-shadow: 3px 3px 31px 1px rgba(121, 134, 138, 1);
}

.ReactModal__Overlay--after-open {
    opacity: 1 !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0 !important;
}

.ant-btn.ant-btn-primary {
    background-color: #036aa7 !important;
}

.ant-picker-focused {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #036aa7 !important;
}

.ant-select:hover,
.ant-select:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-color: #036aa7 !important;
}

.ant-picker:hover {
    border-color: #036aa7 !important;
    box-shadow: none !important;
}

.ant-select-selector {
    border-color: #036aa7 !important;
    box-shadow: none !important;
}

.ant-tabs-tabpane.ant-tabs-tabpane-active {
    overflow-x: scroll;
}

.anticon.anticon-delete svg {
    height: 15px !important;
}

.ant-image-mask:hover {
    opacity: 0 !important;
}

input:focus-visible {
    outline: none;
}

.ant-tabs .ant-tabs-tab-btn:focus-visible {
    outline: none !important;
}

img.ant-image-preview-img {
    display: inline-block;
}

.ant-breadcrumb {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.ant-table {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.ant-picker-dropdown-placement-bottomLeft,
.ant-picker-dropdown-placement-topLeft,
.ant-picker-header {
    width: 21vw !important;
}

.ant-image-img {
    border-radius: 50%;
}

.stage::-webkit-scrollbar {
    display: none;
}

.ant-tour-cover {
    justify-content: center;
    display: flex;
}

.ant-tour-cover img {
    border: 2px solid #eee;
    border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px !important;
    padding: 0px !important;
}